<h1>Listing highscores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Country</th>
      <th>Score</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @highscores.each do |highscore| %>
      <tr>
        <td><%= highscore.name %></td>
        <td><%= highscore.country %></td>
        <td><%= highscore.score %></td>
        <td><%= link_to 'Show', highscore %></td>
        <td><%= link_to 'Edit', edit_highscore_path(highscore) %></td>
        <td><%= link_to 'Destroy', highscore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Highscore', new_highscore_path %>
