<div id="scores-nav">
  <%= will_paginate @highscores %>
</div>
<br>
<div id="high-scores">
  <table>
    <thead>
      <tr>
        <th>Rank</th>
        <th>Name</th>
        <th>Country</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <% @highscores.each_with_index do |highscore, idx| %>
        <tr>
          <td><%= @rank_offset + idx + 1 %></td>
          <td><%= highscore.name %></td>
          <td><%= highscore.country %></td>
          <td><%= highscore.score %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
