<!DOCTYPE html>

<!-- //////////////////////////////////////////////////////////////////////////////////////

BIEBER PONG is a personal project done for absolutely no good reason.
Bieber isn't actually a bad guy. His music is pretty good. He's just really fun to poke fun of. Love ya, Biebz!

ART DIRECTOR:     Vince Mak
COPYWRITER:       Paul Boupha
DEVELOPER:        Travis Luong

Please direct all questions or inquires to paul.boupha@gmail.com

////////////////////////////////////////////////////////////////////////////////////// -->

<html>
<head>
  <title>BIEBER PONG!!!</title>
  <meta name="description" content="Bieber Pong!!! A game where you play for keeps. Or actually, you're playing not to keep.">
  <meta name="keywords" content="justin,bieber,ping,pong,html5,game,biebz,belieber,miami,ad,school">
  <meta name="author" content="Paul Boupha, Travis Luong, Vincent Mak">
  <meta charset="UTF-8">
  <%= favicon_link_tag 'favicon.ico', type: 'image/png' %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-17273058-9', 'bieberpong.herokuapp.com');
  ga('send', 'pageview');

</script>

<div class="socialmedia">

  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=155986774490616";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  <div class="fb-like" data-href="http://www.BieberPong.com" data-width="150px" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

  &nbsp; &nbsp;

  <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.BieberPong.com" data-text="Let's play Bieber Pong!!!" data-hashtags="bieber">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</div>

<div id="header">
  <%= link_to "", root_url %>
</div>

<div id="content" class="cfx">
  <%= yield %>
</div>

<div id="footer">

  A project done for no good reason by <a href="http://www.paulboupha.com">Paul Boupha</a>, <a href="http://www.travisluong.com">Travis Luong</a>, and <a href="mailto:vincentlmak@gmail.com">Vince Mak</a>.

</div>

</body>
</html>
